.app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  .app__container {
  }
}

.timeCount{
  font-size: 32px;
}

.completeTimer{
  font-size: 23px;
  color: #d8dfbb;
}